<p *ngIf="DisplayProgressBar">
    <ngb-progressbar type="dark" [value]="100" animated=true striped=true></ngb-progressbar>
</p>
<button type="button" class="btn btn-dark" (click)=openModalAgregar()>Agregar <i class="fa fa-plus"></i></button>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id </th>
            <th scope="col">Marca</th>
            <th scope="col">Submarca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Descripcion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let auto of autos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
            <th>{{auto._id}}</th>
            <td>{{auto.marca}}</td>
            <td>{{auto.submarca}}</td>
            <td>{{auto.modelos | formatoModelos }}</td>
            <td>{{auto.descripcion}}</td>
            <td (click)="openModalEditar(auto)"><i class="fas fa-edit"></i></td>
            <td (click)="eliminarAuto(auto._id)"><i class="fas fa-trash"></i></td>
        </tr>
    </tbody>
</table>
<div>
    <ngb-pagination class="d-flex justify-content-center" 
        [maxSize]="12" 
        [rotate]="true" 
        [collectionSize]="collectionSize" 
        [boundaryLinks]="true" 
        [(page)]="page" 
        [pageSize]="pageSize">
    </ngb-pagination>
</div>

