<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Submarca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Fecha de Registro</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let auto of autos; index as i">
            <th scope="row">{{i + 1}}</th>
            <td>{{auto.marca}}</td>
            <td>{{auto.submarca}}</td>
            <td>{{auto.modelo}}</td>
            <td>{{auto.descripcion}}</td>
            <td>{{auto.fecha_registro}}</td>
        </tr>
    </tbody>
</table>
