<!-- <ng-template #content let-c="close" let-d="dismiss"> -->
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{accion}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form #formAutos="ngForm">
            <div class="form-group">
                <label for="marca">Marca</label>
                <input id="marca" type="text" placeholder="Agregar Marca" class="form-control" [(ngModel)] = "auto.marca" name="marca">
            </div>
            <div class="form-group">
                <label for="submarca">Submarca</label>
                <input id="submarca" type="text" placeholder="Agregar Submarca" class="form-control" [(ngModel)]="auto.submarca" name="submarca">
            </div>
            <div class="form-group">
                <label for="modelo">Modelos</label>
                <input id="modelo" type="text" placeholder="Agregar Modelo" class="form-control" [(ngModel)]="auto.modelos" name="modelos">
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion</label>
                <input id="descripcion" type="text" placeholder="Agregar Descripcion" class="form-control" [(ngModel)]="auto.descripcion" name="descripcion">
            </div>
            <div class="modal-footer">
                <button type="submit"  class="btn btn-outline-dark"(click)="editar" (click)="activeModal.close('Save click')">Guardar</button>
            </div>
        </form>
    </div>
    
  <!-- </ng-template> -->
