.log{
    background-color: rgb(20, 20, 20);
    color: white;
    margin: 0 auto;
    width: 80%;
    height: 60%;
    margin-top: 20px;
    padding: 10px;
    overflow: scroll;
    font-family: 'Consolas', monospace;
}

p{
    margin: 0;
}