<div class="contenedor">
    <div class="contenedor-imagenes">
        <div>
            <img class="cdis" src="assets/cdis.jpg">
        </div>
        <div>
            <img class="angular" src="assets/Angular.png">
        </div>
    </div>
    <div class="texto">
        <p>
            Esta fue la pagina que se realizo en la capacitacion de Angular que nos proporciono el CDIS al ser completada con exito 
            se trata de una pagina que en la que se proporciona una lista de automoviles en la que tu puedes 
            ir realizando las operaciones basicas de Agregar, Editar, Eliminar y Modificar 
        </p>
    </div>
</div>
